.ban-short-links {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.ban-short-links ul {}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.ban-short-links.ani ul li:nth-child(1) {
    transition-delay: 0.2s;
}
.ban-short-links.ani ul li {
    transform: translateY(0px);
    opacity: 1;
}
.ban-short-links ul li {
    float: left;
    /* width: 25%; */
    padding: 5px;
    transition: all 0.5s ease;
    transform: translateY(30px);
    opacity: 0;
}
.ban-short-links ul li div {
    text-align: center;
    border: 1px solid #626262;
    padding: 17px;
    border-radius: 10px;
    min-width: 100px;
    background: #181818c7;
    position: relative;
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 1;
}
.ban-short-links ul li div img {
    width: 30px;
    margin-bottom: 14px;
}
.ban-short-links ul li div h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}
.fclick {
    position: absolute;
    cursor: pointer;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 5;
}
img {
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.ban-short-links ul li div:hover {
    border: 1px solid #8297ff;
    background: #0d2cc3;
    box-shadow: 0px 6px 13px 6px #00000042;
}
.ban-short-links.ani ul li:nth-child(1) {
    transition-delay: 0.2s;
}
@media screen and (max-width: 480px){
.ban-short-links ul li {
    width: 33.333%;
}
}
@media screen and (max-width: 1150px){
.ban-short-links ul li {
    padding: 2px;
}
}

.all-jobs-ban {
    float: left;
    width: 100%;
    padding: 70px 0px 0px 0px;
    margin-top: var(--topspac);
    position: relative;
    text-align: center;
    background: url(../public/job-banne.png) #2d0ed8 no-repeat;
    background-size: 100%;
    margin-bottom: 110px;
    background-position: center bottom;
}
.jtit {
    width: 100%;
    padding-bottom: 15px;
    position: relative;
}
.job-sear {
    margin: 0 auto;
    display: table;
    width: 50%;
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 22px -3px #1d1d216b;
}
.job-sear ul li.sr-sea {
    width: calc(60% - 50px);
}
.job-sear ul li {
    float: left;
    padding: 0px 5px;
}
li {
    list-style-type: none;
}
.job-sear ul li.sr-loc {
    width: 40%;
}
.job-sear ul li.sr-btn {
    width: 50px;
}
.job-sear ul li select {
    border: 0px solid #97abb7;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 12px 12px 45px;
}
.chosen-select {
    width: 100%;
}
.job-sear ul li .chosen-container {
    border: 0px;
    width: 100% !important;
}
.chosen-container {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
    height: 42px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    width: 100% !important;
}
.job-sear ul li .chosen-container-single .chosen-single {
    /* border: 1px
px
 solid #97abb7; */
    border-radius: 4px 0 0 4px;
    padding-left: 41px;
    text-align: left;
    padding-top: 8px;
    height: 47px;
}
.chosen-container-single .chosen-single {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    /* border: 1px solid #ccc; */
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    color: #555;
    display: block;
    height: 40px;
    overflow: hidden;
    line-height: 34px;
    padding: 3px 5px 0 12px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.chosen-container-single .chosen-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 13px;
}
.chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
}
.chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
}
.chosen-container .chosen-results {
    color: #555;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.chosen-container .chosen-drop {
    background: #fff;
    border: 1px solid #fafbfb;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 8px 8px rgb(0 0 0 / 25%);
    box-shadow: 0px 8px 16px -6px rgb(0 0 0 / 25%);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060;
    padding: 6px;
}
.chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
}
.chosen-container-single .chosen-search input[type="text"] {
    background: url(../public/chosen-sprite.png) no-repeat 100% -20px, #fff;
    border: 1px solid #dde1e2;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    margin: 4px 0;
    padding: 4px 20px 4px 4px;
    width: 100%;
    height: 35px;
}
.job-sear ul li input {
    border: 1px solid #97abb7;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 12px 12px 45px;
}